<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ComponentOneComponent</title>
  </head>
  <body>
    <h1>ComponentOneComponent</h1>
    <div class = "row" style="padding-top:150px;">
      <div class = "col-md-5 offset-3 text-center">

        <p><span>Image...</span></p>
        <button type="button" class="btn btn-primary btn-lg center" (click)="SendLikeEvent()">Like</button>

      </div>
    </div>
    <button type="button" class="btn btn-primary" routerLink="/component-two">
      Go To Component Two
    </button>
  </body>
</html>
